#root {
  font-family: "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
}
.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  padding-bottom: 30px !important; /* يوسع المساحة الداخلية */
}

.mySwiper .swiper-scrollbar {
  bottom: 0 !important;
}

.mySwiper .swiper-scrollbar-drag {
  background: linear-gradient(90deg, #ffe156, #ffb5c2, #3777ff);
}

/* styles/globals.css */
.scrollbar-custom::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e5e7eb; /* bg-gray-200 */
  margin: 20px 0;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: oklch(70.7% 0.022 261.325); /* gray-500 */
  border-radius: 3px;
}
